body {
    background: url("back.jpg");
    background-repeat: no-repeat;
    background-size: 1360px 700px;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 4000px;
    width: 88.5%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: black;
    overflow-y: scroll;
}

p {
    font-size: 16px;
    margin: 0;
    padding: 0;

}

a:link {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: white;
    font-weight: bold;
    font-size: 15px;
    
}

a:visited {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: white;
}

h1, h2, h3, h4, h5, h6, ul, ol, li {
    margin: 0;
    padding: 0;

}

.top-nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    background-color: transparent;
    

}

.logo img {
    width: 30px;
    padding: 25px;

}

#nav-search-wrapper {
    
    width: 490px;
    height: 100%;
    margin-left: 106px;
    margin-top: -80px;
    background-color: transparent;
    
    
}
#nav-search-wrapper form input {
    padding: 22px 10px 18px 52px;
    width: 100%;
    background-color: transparent;
    border: none;
} 

#nav-search {
    font-family: cursive;
    font-weight: normal;
    text-align: left;
    color: white;
}
input[type="text"]
{
    font-size: 20px;
    background: url("serch.png");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 15px;
  
}
.top-nav ul {
    float: right;
    margin-top: -58px;
    color: white;
    font-weight: 501;
    font-size: 15px;
    
}
.top-nav ul li {
    display: inline-block;
    margin: 14px;
    color: white;
    
}

.leftcontainer {
    width: 380px !important;
    height: 418px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% !important;
    border-radius: 4px;
    padding: 32px 32px 24px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 16px 40px !important;
    position: absolute;
    transform: translate(35%,25%);
    
}

h1 {
    font-weight: 505;
}
h2 {
    position: relative;
    top: 710px;
    left: 155px;
}
h3 {
    position: relative;
    top: 850px;
    left: 155px;
    font-size: 25px;
}
h4 {
    position: relative;
    top: 860px;
    left: 155px;
    font-size: 17px;
    font-weight: 10;
    color: rgb(94, 93, 93);
}
h5 {
    position: relative;
    top: 1220px;
    left: 155px;
    font-size: 25px;
}

#one {
    font-weight: 600;
    padding-top: 21px;
    font-size: 12px;
    color: black;
}


#boxsearch
{
    display: -moz-box;
    box-sizing: border-box;
    padding-bottom: 5px;
    margin-bottom: 18px;
    margin-top: 10px;
    border: 1px solid rgb(235, 235, 235) !important;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 19px;
    padding-left: 10px;
    background-image:url("fck.png");
    width: 380px;
    height: 50px;
}

.input-group {
    display: inline-block;
    width: 187px;
    box-sizing: border-box;
    padding-bottom: 21px;
}

#dates {
    border: 1px solid rgb(235, 235, 235) !important;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 18px;
    color: gray;
    width: 187px;
    height: 50px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    
}
#dates1 {
    border: 1px solid rgb(235, 235, 235) !important;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 18px;
    color: gray;
    width: 187px;
    height: 50px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.subm {
    display: box;
    box-sizing: border-box;
    background: #FF5A5F;
    border-color: transparent;
    width: 100px;
    height: 45px;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    position: relative;
    left: 280px;
}
.homes1 {
    display: box;
    box-sizing: border-box;
    background: white;
    background-image: url("home.jpg");
    background-repeat: no-repeat;
    background-position: relative;
    background-size: 80px 78px;
    border: 1px solid rgb(219, 213, 213);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 16px 40px !important;
    width: 246px;
    height: 78px;
    border-radius: 4px;
    color: rgb(94, 93, 93);
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    position: absolute;
    left: 155px;
    top: 760px;
}
.homes2 {
    display: box;
    box-sizing: border-box;
    background: white;
    background-image: url("Experiences.jpg");
    background-repeat: no-repeat;
    background-position: relative;
    background-size: 80px 78px;
    border: 1px solid rgb(219, 213, 213);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 16px 40px !important;
    width: 296px;
    height: 78px;
    border-radius: 4px;
    color: rgb(94, 93, 93);
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    position: absolute;
    left: 430px;
    top: 760px;
}
.homes3 {
    display: box;
    box-sizing: border-box;
    background: white;
    background-image: url("Restaurants.jpg");
    background-repeat: no-repeat;
    background-position: relative;
    background-size: 80px 78px;
    border: 1px solid rgb(219, 213, 213);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 16px 40px !important;
    width: 296px;
    height: 78px;
    border-radius: 4px;
    color: rgb(94, 93, 93);
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    position: absolute;
    left: 760px;
    top: 760px;
}
.introb {
    display: box;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 16px 40px !important;
    border-radius: 4px;
    background: url("introb.jpg");
    background-repeat: no-repeat;
    width: 1000px;
    height: 300px;
    box-sizing: border-box;
    background-size: cover;
    position: absolute;
    top: 975px;
    left: 155px;
}
.inputbo {
    display: box;
    box-sizing: border-box;
    background: white;
    background-repeat: no-repeat;
    background-position: relative;
    background-size: 80px 78px;
    border: 1px solid rgb(219, 213, 213);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 16px 40px !important;
    width: 180px;
    height: 45px;
    border-radius: 4px;
    color: rgb(94, 93, 93);
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    position: absolute;
    left: 550px;
    top: 1155px;
}
.inputbo1 {
    position: absolute;
    left: 550px;
    top: 1040px;

}

.hover1 {
    display:inline-block;
    position:relative;
    color:#0087ca;
}
.hover1::after {
    content:'';
    position:absolute;
    width:100%;
    transform:scaleX(0);
    height: 2.4px;
    bottom: -25px;
    left: 0;
    background-color:white;
    transform-origin: center;
    transition:transform 0.15s;
}
 .hover1:hover::after{
    transform:scaleX(1);
    transform-origin: center;
}

#slider {
    position: absolute;
    top: 1370px;
    left: 175px;
    width: 965px;
    height: 450px;
    background-color: yellow;
}
slider {
    display: block;
    width: 965px;;
    height: 450px;
    background-color: black;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 16px 40px !important;
    overflow: hidden;
    position: absolute;
}
slider > * {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: grey;
    animation: slide 12s;
    overflow: hidden;
}
slide:nth-child(1) {
    left: 0%;
    animation-delay: 18s;
    background-image: url("https://store.insiderenvy.com/images/2018/06/12151240/GettyImages-486334510-1-min-min-1024x683.jpeg");
    background-size: cover;
    background-position: center;
}
slide:nth-child(2) {
    animation-delay: 14s;
    background-image: url("https://wallpapercave.com/wp/22ZV3dU.jpg");
    background-size: cover;
    background-position: center;
}slide:nth-child(3) {
    animation-delay: 10s;
    background-image: url("https://images.unsplash.com/photo-1503192851959-c6da8ac80cff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
    background-size: cover;
    background-position: center;
}slide:nth-child(4) {
    animation-delay: 6s;
    background-image: url("https://wallpapercave.com/wp/rxcrfE5.jpg");
    background-size: cover;
    background-position: center;
}slide:nth-child(5) {
    left: 0%;
    animation-delay: 2s;
    background-image: url("https://images2.alphacoders.com/103/thumb-1920-103672.jpg");
    background-size: cover;
    background-position: center;
}
slide p {
    font-family: cursive;
    font-size: 30px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 350px;
    color: white
}
@keyframes slide {
    0% { left: 100%; width: 100%;}
    5% { left: 0%;}
    25% { left: 0%;}
    30% { left: -100%; width: 100%;}
    30.001% {left: -100%; width: 0%;}
    100% {left: 100%; width: 0%;}
}
